@charset "UTF-8";

* {
    margin: 0;
    padding: 0; 
}

.fundo {
    background-color: rgb(13, 49, 253);
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.calculadora {
    position: absolute;
    background-color: rgb(133, 133, 133);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.541);
}

.botao {
    background-color: lightgrey;
    width: 50px;
    height: 50px;
    margin: 3px;
    font-size: 25px;
    cursor: pointer;
    
}

.botao:hover {
    background-color: rgb(184, 183, 183);
}

#resultado {
    background-color: white;
    width: 220px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    border: 2px solid;
    text-align: right;
}

